/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	background: blue;
}

div {
	display: inline-block;
	text-align: left;
	font-weight: bold;
}

.pageTopper {
	margin: 15px;
	display: block;
	width: 700px;
	height: 40px;
	padding: 20 0 10 20;
	font-weight: bold;
	font-size: 34px;
	border-bottom: 2px solid red;
	color: red;
	text-shadow: 1px 1px white;
	text-align: center;
}

.formDiv{
	position: relative;
	color: white;
}

.form1 {
	text-transform: uppercase;
	margin-left: 15px;
	padding-top: 15px;
	width: 10%;
	position: absolute;
}

.inputBox{
	max-width: 100%;
	height:30px;
	line-height: 1.5;
	border-radius: 5%;
	border: 1.5px solid black;
	padding: 2px;
	font-weight: bold;
	text-transform: uppercase;
}
.form2 {
	padding-top: 15px;
	position: absolute;
	left: 12.5%;
	width: 15%;
	text-transform: uppercase;
}

.submit {
	padding-top: 15px;
	position: absolute;
	left: 28.5%;	
	width: 15%;
	min-height: 800px;
	display: inline-block;
}
.submit-button {
	float: right;
	width: 200px;
	height: 100px;
}

#submit {
	float: right;
	width: 100%;
	height: 100%;
	font-size: 40px;
}

.details {
	margin-top: 20;
	width: 100%;
	min-height: 600px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	font-family: Arial;
}


.total {
	margin-top: 30px;
	margin-right: 50px;
	padding: 10px;
	border: 3px solid red;
	width: 500px;
	min-height: 700px;
	clear: both;
	float: right;
	display: block;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
	text-transform: uppercase;
}
.column1 {
	text-align: left;
	width: 25%;
	display: block;
	float: left;
}
.column2 {
	width: 75%;
	display: block;
	float: right;
}

.tourDetails {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 25px;
}

#details {
	display: block;
	font-size: 18px;
	text-decoration: underline;
}

.Time {
	width: 25%;
	display: block;
	float: left;
}

.Detail {
	width: 75%;
	display: block;
	float: right;
	text-align: left;
}

.storage {
	width: 100%;
	margin-top: 25px;
	text-transform: uppercase;
}

#storage {
	text-transform: uppercase;
	display: block;
}