/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  background: blue;
}

/* line 12, ../sass/screen.scss */
div {
  display: inline-block;
  text-align: left;
  font-weight: bold;
}

/* line 18, ../sass/screen.scss */
.pageTopper {
  margin: 15px;
  display: block;
  width: 700px;
  height: 40px;
  padding: 20 0 10 20;
  font-weight: bold;
  font-size: 34px;
  border-bottom: 2px solid red;
  color: red;
  text-shadow: 1px 1px white;
  text-align: center;
}

/* line 32, ../sass/screen.scss */
.formDiv {
  position: relative;
  color: white;
}

/* line 37, ../sass/screen.scss */
.form1 {
  text-transform: uppercase;
  margin-left: 35px;
  padding-top: 15px;
  width: 10%;
  position: absolute;
  top: 20;
}

/* line 46, ../sass/screen.scss */
.inputBox {
  height: 30px;
  line-height: 1.5;
  border-radius: 5%;
  border: 1.5px solid black;
  padding: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 55, ../sass/screen.scss */
.form2 {
  padding-top: 15px;
  position: absolute;
  top: 20;
  left: 17.5%;
  width: 15%;
  text-transform: uppercase;
}

/* line 64, ../sass/screen.scss */
.submit {
  padding-top: 15px;
  position: absolute;
  left: 32.5%;
  width: 15%;
  min-height: 800px;
  display: inline-block;
}

/* line 72, ../sass/screen.scss */
.submit-button {
  float: right;
  width: 200px;
  height: 100px;
}

/* line 78, ../sass/screen.scss */
#submit {
  float: right;
  width: 100%;
  height: 100%;
  font-size: 40px;
}

/* line 85, ../sass/screen.scss */
.details {
  margin-top: 20;
  width: 325px;
  min-height: 600px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  font-family: Arial;
}

/* line 96, ../sass/screen.scss */
.total {
  margin-top: 30px;
  margin-right: 50px;
  padding: 10px;
  border: 3px solid red;
  width: 600px;
  min-height: 700px;
  clear: both;
  float: right;
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  text-transform: uppercase;
}

/* line 111, ../sass/screen.scss */
.column1 {
  text-align: left;
  width: 25%;
  display: block;
  float: left;
}

/* line 117, ../sass/screen.scss */
.column2 {
  width: 75%;
  display: block;
  float: right;
}

/* line 123, ../sass/screen.scss */
.tourDetails {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
}

/* line 129, ../sass/screen.scss */
#details {
  display: block;
  font-size: 18px;
  text-decoration: underline;
}

/* line 135, ../sass/screen.scss */
.Time {
  width: 25%;
  display: block;
  float: left;
}

/* line 141, ../sass/screen.scss */
.Detail {
  width: 75%;
  display: block;
  float: right;
  text-align: left;
}

/* line 148, ../sass/screen.scss */
.storage {
  width: 100%;
  margin-top: 25px;
  text-transform: uppercase;
}

/* line 154, ../sass/screen.scss */
#storage {
  text-transform: uppercase;
  display: block;
}
